<!-- HEADER BLOCK -->
<header class="header-block bundle-header-3">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <jdoc:include type="element" name="logo" data-home="index.php" />
      </div>

      <div class="col-md-8 d-none d-md-block">
        <div class="header-r">
          <jdoc:include type="modules" name="header-r" style="none" />
        </div>
      </div>
    </div>
  </div>
</header>
<!-- // HEADER BLOCK -->

<!-- MAINNAV BLOCK -->
<nav id="t4-mainnav" class="t4-mainnav bundle-mainnav-3">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-9">
        <jdoc:include type="element" name="megamenu" />  
      </div>

      <div class="col-md-6 col-lg-3 d-none d-md-block text-right">
        <div class="mainnav-r">
          <jdoc:include type="modules" name="mainnav-r" style="none" />          
        </div>
      </div>
    </div>
  </div>

  <jdoc:include type="element" name="offcanvas-toggle" />
</nav>
<!-- //MAINNAV BLOCK -->